.App {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input{
  margin-top: 10px;
  width: 200px;
}

.cateList{
  margin-top: 10px;
  border-collapse: collapse;
  td{
    border: 1px solid black;
  }
}
